<header class="header">
  <ul>
    <li class="logo-item">
      <img class="logo" src="https://github.com/faustofuertes/faustofuertes.github.io/blob/master/img/logoFinal.png?raw=true" alt="Logo">
    </li>
    <li *ngIf="!isLoggedIn"><a (click)="navigateToHome()">Home</a></li>
    <li><a href="http://localhost:4200/alimentos">Food</a></li>
    <!-- <li *ngIf="isLoggedIn"><a href="http://localhost:4200/recetas">Recipes</a></li> -->
    <li *ngIf="!isLoggedIn"><a class="nav-item" (click)="login()">Sign In</a></li>
    <li *ngIf="!isLoggedIn"><button class="btn-empezar" (click)="navigateToRegister()">Register</button></li>
    <li *ngIf="isLoggedIn"><a class="nav-item" (click)="navigateToUserProfile()">Profile</a></li>

    <li *ngIf="isLoggedIn">
      <button class="btn-nutriTrack" (click)="navigateToNutriTrack()">
        <span class="text">My Nutri Track</span>
      </button>
    </li>

    <li *ngIf="isLoggedIn" (click)="toggleAccountMenu()">
      <a class="logout"><i class="fas fa-sign-out-alt"></i></a>
    </li>
  </ul>
