/* Header y lista de navegación */
.header {
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    height: 100%;
    transition: color 0.3s;
}

.header li:hover {
    color: #66BB6A;
}

.header li:last-child {
    margin-right: 5%;
    border: none;
}

.header li:first-child {
    margin-right: auto;
}

.logo {
    height: 60px;
}

.logo-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-empezar {
    padding: 10px 20px;
    color: white;
    background-color: #66BB6A;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    height: 45px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s;
}

.btn-empezar:hover {
    background-color: white;
    color: #66BB6A;
    border: 2px solid #66BB6A;
    transform: scale(1.05);
}

.header a {
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-size: 16px;
    transition: color 0.3s;
}

.header a:hover {
    color: #66BB6A;
}

.btn-nutriTrack {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    padding: 0 16px;
    height: 45px;
    border-radius: 10px;
    background: linear-gradient(155deg, #393540, #27232f);
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.btn-nutriTrack:hover {
    transform: scale(1.05);
}

.btn-nutriTrack span {
    animation: shine 2s infinite linear;
    background-image: linear-gradient(to right, #66BB6A 20%, white 40%, #66BB6A 60%, #66BB6A 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200%;
}

@keyframes shine {
    from {
        background-position: 0%;
    }
    to {
        background-position: 200%;
    }
}

.logout {
    font-size: 24px;
    color: black;
    cursor: pointer;
}

.logout:hover {
    color: #66BB6A;
}

/* Menú desplegable de la cuenta */
.account-menu {
    display: none;
    position: absolute;
    top: 80px; /* Ajuste en relación al header */
    right: 5%;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 100;
}

.account-menu ul {
    padding: 10px;
    margin: 0;
    list-style: none;
}

.account-menu li {
    padding: 10px;
}

.account-menu li a {
    color: black;
    text-decoration: none;
    display: block;
}

.account-menu li a:hover {
    background-color: #f0f0f0;
    color: #66BB6A;
}
