<div class="container">
    <div class="mealType">
        <label for="">Breakfast</label>
        <app-meal-card 
        [arrayFood]="arrayBreakfast" 
        (mealTypeEmitter)="reciveMealType($event)"
        (deleteEmmiter)="deleteFoodFromMeal($event)" 
        [mealType]="'breakfast'"
        (addModeEmmiter)="emitAddMode('breakfast')"
        (modifyEmitter)="udpateFoodFromMeal($event)">
        </app-meal-card>
    </div>

    <div class="mealType">
        <label for="">Lunch</label>
        <app-meal-card 
        [arrayFood]="arrayLunch" 
        (mealTypeEmitter)="reciveMealType($event)"
        (deleteEmmiter)="deleteFoodFromMeal($event)" 
        [mealType]="'lunch'"
        (addModeEmmiter)="emitAddMode('lunch')"
        (modifyEmitter)="udpateFoodFromMeal($event)">
    </app-meal-card>
    </div>

    <div class="mealType">
        <label for="">Snack</label>
        <app-meal-card 
        [arrayFood]="arraySnack" 
        (mealTypeEmitter)="reciveMealType($event)"
        (deleteEmmiter)="deleteFoodFromMeal($event)" 
        [mealType]="'snack'"
        (addModeEmmiter)="emitAddMode('snack')"
        (modifyEmitter)="udpateFoodFromMeal($event)">
    </app-meal-card>
    </div>

    <div class="mealType">
        <label for="">Dinner</label>
        <app-meal-card 
        [arrayFood]="arrayDinner" 
        (mealTypeEmitter)="reciveMealType($event)"
        (deleteEmmiter)="deleteFoodFromMeal($event)" 
        [mealType]="'dinner'"
        (addModeEmmiter)="emitAddMode('dinner')"
        (modifyEmitter)="udpateFoodFromMeal($event)">
    </app-meal-card>
    </div>
</div>