.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
    transition: .3s;
    cursor: pointer;
}


.name {
    display: flex;
    font-size: 18px;
    font-weight: 500;
}

.greyColor {
    font-size: 15px;
    color: #6c757d;
    font-weight: 500;
}

.calories {
    font-size: 18px;
    font-weight: 500;
}

img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.highlighted {
    border: 2px solid #66BB6A;
}

.name-flag {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.food-name-flag {
    flex: 1;
}

.food-name-flag p{
    font-weight: 500;
}

.cals-gr {
    display: flex;
    flex-direction: column; /* Coloca las calorías y gramos en una columna */
    align-items: flex-end; /* Alinea los textos a la derecha */
}

.cals-gr p{
    font-weight: 500;
}

.cals-gr p,
.colorGrey p {
    margin: 0;
}
