<div class="recetas-container">
<h2>Buscar Recetas</h2>

<!-- Formulario para seleccionar tipo de búsqueda y término -->
<form (ngSubmit)="buscarRecetas()">
    <div class="form-group">
    <label for="searchMethod">Selecciona el tipo de búsqueda:</label>
    <select id="searchMethod" [(ngModel)]="searchMethod" name="searchMethod" class="form-control">
        <option value="nombre">Por Nombre</option>
        <option value="categoria">Por Categoría</option>
        <option value="ingrediente">Por Ingrediente</option>
    </select>
    </div>

    <div class="form-group">
    <label for="searchTerm">Término de búsqueda:</label>
    <input type="text" id="searchTerm" [(ngModel)]="searchTerm" name="searchTerm" class="form-control" placeholder="Ingresa el término..." required>
    </div>

    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<!-- Resultados de la búsqueda -->
<div *ngIf="recetas.length > 0" class="recetas-list">
    <h3>Resultados:</h3>
    <div *ngFor="let receta of recetas; let i = index" [ngClass]="{'receta-container-odd': i % 2 === 0, 'receta-container-even': i % 2 !== 0}">
    <h4>{{ receta.strMeal }}</h4>
    <img [src]="receta.strMealThumb" alt="{{ receta.strMeal }}" class="receta-image">
    
    <!-- Mostrar categoría solo si la búsqueda es por nombre -->
    <p *ngIf="searchMethod === 'nombre'"><strong>Categoría:</strong> {{ receta.strCategory }}</p>
    
    <!-- Mostrar área solo si la búsqueda es por nombre -->
    <p *ngIf="searchMethod === 'nombre'"><strong>Área:</strong> {{ receta.strArea }}</p>

    <!-- Ingredientes -->
    <div *ngIf="receta.strIngredient1 && searchMethod === 'nombre'">
        <h5>Ingredientes:</h5>
        <ul>
        <li *ngFor="let i of getIngredients(receta)">
            {{ i.ingredient }} - {{ i.measure }}
        </li>
        </ul>
    </div>

    <!-- Instrucciones -->
    <div *ngIf="receta.strInstructions && searchMethod === 'nombre'">
        <h5>Instrucciones:</h5>
        <p>{{ receta.strInstructions }}</p>
    </div>
    </div>
</div>

<!-- Mensaje cuando no hay resultados -->
<div *ngIf="recetas.length === 0 && searchTerm">
    <p>No se encontraron recetas para "{{ searchTerm }}"</p>
</div>
</div>
